*{
    margin: 0;
    padding:0;
    font-family: sans-serif;

}
.head{
    position:relative;
    background-color: white;
    color: rgb(0, 0, 0);
    height: 80px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 10px;
    
}
.logo{
position: fixed;
top: 38px;
left: 50px;
}
.logo sup{
    color: rgb(82, 97, 110);
}
.from{
    position: fixed;
    right: 15px;
    top: 50px;
    gap: 100px;
    display: flex;
   
}
.from a{
    color: rgb(110, 106, 106);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.3s;
}
.from a:hover{
    color:orangered;
    background-color: transparent;
}
.from a button{
    padding: 5px 10px;

    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.from a button:hover{
    background-color: #fff;
}
.page2{
   margin-left: 70px; 
}
.text{
    margin-top: 50px;
    left: 50%;
    text-align: center;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 100px;
    color: rgb(99, 101, 104);
}
.text span{
    color: rgb(110, 110, 235);
}
.iconarea{
    position:fixed;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 30px 15px;
	z-index: 1;

    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
}
.iconarea i{
  color:rgba(39,39,39,0.80);  
}
.iconarea a:hover .fa-facebook-f{
	color: #3b5998;
}
.iconarea a:hover .fa-twitter{
	color: #00acee ;
}
.iconarea a:hover .fa-instagram{
	color:  #f0ba27 ;
}
.iconarea a:hover .fa-youtube{
 
	color: 	#FF0000;
}
h3{
  text-align: center;
  padding-top:90px;
  font-size: 30px;
  letter-spacing: 3px;
}
h3>span{
    color: rgb(53, 53, 187);
}
.product{
   display: grid;
   grid-template-columns: repeat(3,1fr); 
   gap: 20px;
   justify-items: center;
   padding: 20px; 
   
}
.productbox{
    width: 200px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    

}
.productbox img{
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.productbox img:hover{
   transform: scale(1.2); 
}
.productbox p{
    margin: 10px 0 5px;
    font-weight: bold;
}
.productbox .buybtn {
    padding: 9px;
    background-color: #413fd8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.productbox .buybtn:hover{
    background-color: #454947;
}
.productbox a{
    text-decoration: none;
}
.about{
    display: flex;
    width:85% ;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 150px !important;
    
}
.aboutbox{
    width: 40%;
    font-family: myriad pro;
}
.aboutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aboutbox h1{
     color: #333333;
     font-weight: 700;
     font-size: 3rem;
     margin: 0px;
}
.aboutbox h4{
    color: #333333;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;

}
.aboutbox p{
    font-size: 1rem;
    color: #bdbdbd;
    letter-spacing: 0.5px;
}
.notification {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.notification h1{
    font-size: 2rem;
    color: rgb(56, 56, 56)
}
.input{ 
border-radius: 19px;
width: 50%;
height: 30px;
cursor: pointer;
box-shadow: 0px 3px 30px;
border-style: none;

}
.notificationinput input{
    width: 5%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    
}
.notificationbutton{
    width:120px;
			height: 40px;
			background-color: #202020;
			border-radius: 20px;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			font-weight: bold;
			box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
			font-size: 1rem;
            
}
.notificationbutton:hover{   
   background-color:#6b60ec;
			transition: all  ease 0.5s; 
}
footer {	
    		background-color: black!important;	
            		padding:20px
                 
                    
}
footer p {
			text-align: center;
			color: #f2f2f2;
        
}